Node Red/flows.json
[
    {
        "id": "2206b0d4.ea8cf",
        "type": "tab",
        "label": "Customer Help Desk",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ce94ec0a.5a605",
        "type": "watson-conversation-v1",
        "z": "2206b0d4.ea8cf",
        "name": "",
        "workspaceid": "4cc89fee-b5a2-494d-a8eb-6d89d00c866f",
        "multiuser": false,
        "context": false,
        "empty-payload": false,
        "service-endpoint": "https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/2ec00365-2ff5-4b67-b3af-50367023da9b",
        "timeout": "",
        "optout-learning": false,
        "x": 440,
        "y": 120,
        "wires": [
            [
                "2e05704f.faf16",
                "ccfac259.0961f"
            ]
        ]
    },
    {
        "id": "2e05704f.faf16",
        "type": "debug",
        "z": "2206b0d4.ea8cf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 790,
        "y": 100,
        "wires": []
    },
    {
        "id": "ccfac259.0961f",
        "type": "function",
        "z": "2206b0d4.ea8cf",
        "name": "parsing",
        "func": "msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n    msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n}\n    msg.payload=msg.payload.text;\n}\n\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 240,
        "wires": [
            [
                "c57a193d.606298",
                "29462af7.32be16"
            ]
        ]
    },
    {
        "id": "971218ec.44a548",
        "type": "ui_text",
        "z": "2206b0d4.ea8cf",
        "group": "c851090.04edcf8",
        "order": 2,
        "width": "21",
        "height": 1,
        "name": "",
        "label": "You",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 390,
        "y": 400,
        "wires": []
    },
    {
        "id": "c57a193d.606298",
        "type": "ui_text",
        "z": "2206b0d4.ea8cf",
        "group": "c851090.04edcf8",
        "order": 3,
        "width": "21",
        "height": 8,
        "name": "",
        "label": "Bot",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 570,
        "y": 400,
        "wires": []
    },
    {
        "id": "29462af7.32be16",
        "type": "debug",
        "z": "2206b0d4.ea8cf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "70b49b39.a10924",
        "type": "function",
        "z": "2206b0d4.ea8cf",
        "name": "input parsing",
        "func": "msg.payload=msg.payload.text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 240,
        "wires": [
            [
                "ce94ec0a.5a605",
                "971218ec.44a548"
            ]
        ]
    },
    {
        "id": "5b4c1806.21be38",
        "type": "ui_form",
        "z": "2206b0d4.ea8cf",
        "name": "",
        "label": "",
        "group": "c851090.04edcf8",
        "order": 1,
        "width": "21",
        "height": "2",
        "options": [
            {
                "label": "Enter your Query",
                "value": "text",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "text": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 70,
        "y": 180,
        "wires": [
            [
                "70b49b39.a10924"
            ]
        ]
    },
    {
        "id": "c851090.04edcf8",
        "type": "ui_group",
        "z": "",
        "name": "",
        "tab": "c705e3d3.45a3b",
        "order": 1,
        "disp": true,
        "width": "21",
        "collapse": false
    },
    {
        "id": "c705e3d3.45a3b",
        "type": "ui_tab",
        "z": "",
        "name": "Customer Help Desk",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
